[submodule "starter"]
	path = starter
	url = https://github.com/michiyasunaga/robustqa.git
[submodule "dann/ce/wasserstein"]
	path = dann/ce/wasserstein
	url = https://github.com/dfdazac/wassdistance.git
